.header {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.add-path-container {
  align-items: center;
  bottom: 50px;
  background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: center;
  left: 0;
  min-height: 500px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 999;
}

.list-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.close {
  position: absolute;
  right: 20px;
  top: 20px;
}

.desc {
  position: absolute;
  right: 0;
  top: 0;
}

.search {
  margin-bottom: 15px;
  position: relative;
}

.search:before {
  content: url('./img/search.svg');
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  position: relative;
  margin-top: 20px;
}

.elected:before {
  content: url('./img/star.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
}

textarea {
  resize: none;
}

.active {
  display: block;
}

.not-active {
  display: none;
}

.wrapper {
  height: 500px;
  overflow: auto scroll;
}