.header {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.add-path-container {
  background-color: #333;
  position: absolute;
  left: 0;
  top: 50px;
  bottom: 50px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  padding: 50px 0;
}

.list-item {
  cursor: pointer;
  margin-bottom: 5px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
}

.desc {
  position: absolute;
  right: 0;
  top: 0;
}

.search {
  margin-bottom: 15px;
  position: relative;
}

.search:before {
  content: url('./img/search.svg');
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
}

.main-container {
  position: relative;
  margin-top: 20px;
}

.remove {
  color: #ff0000;
  cursor: pointer;
}

.elected:before {
  content: url('./img/star.svg');
  display: inline-block;
  width: 20px;
  height: 20px;
}
